<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/search" id="logo">
                <img src="/includes/images/Logo.svg" alt="ליגת בתי הספר">
                <b>ליגת בתי הספר</b>
            </a>
            <section class="leftSearchBox" ng-controller="autoCompleteSearch">
                <input type="text" id="Autocomplete" class="form-control clearable" ng-autocomplete="result2"
                       details="details2" options="options2" placeholder=""/>
                <label for="Autocomplete"><img src="/includes/images/Search.svg" id="searchIcon" alt="חיפוש"></label>
            </section>
            <section id="shenkarCalcalistLogos">
                <a href="http://www.shenkar.ac.il/"><img src="/includes/images/shenkar_logo.png"></a>
                <a href="http://www.calcalist.co.il/"><img src="/includes/images/calcalist_log.png"></a>
            </section>
        </div>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">

                <li class="supervisionFilter">
                        <p><b>סוג פיקוח</b></p>
                        <ul class="filterSelectors">
                            <li>
                                <img ng-model="state" ng-src="{{state.checked == true && '/includes/images/check1.svg' || '/includes/images/check_empty.svg'}}" alt="" class="supervisionCheckIcon" ng-click="includeSupervision(state)">
                                <p>ממלכתי</p>
                            </li>
                            <li>
                                <img ng-model="religious" ng-src="{{religious.checked == true && '/includes/images/check1.svg' || '/includes/images/check_empty.svg'}}" alt="" class="supervisionCheckIcon" ng-click="includeSupervision(religious)">
                                <p>ממ&#34;ד</p>
                            </li>
                            <li>
                                <!--<input type="checkbox" name="supervisionFilter" value="orthodox"-->
                                       <!--ng-click="includeSupervision('orthodox')"> חרדי-->
                                <img ng-model="orthodox" ng-src="{{orthodox.checked == true && '/includes/images/check1.svg' || '/includes/images/check_empty.svg'}}" alt="" class="supervisionCheckIcon" ng-click="includeSupervision(orthodox)">
                                <p>חרדי</p>
                            </li>
                        </ul>
                </li>
                <li class="tagsFilter">
                    <!-- Connected lists -->
                    <div class="container" >
                        <div data-force="30" id="choiceBox">
                            <p class="layer title"><b>דירוג קריטריונים</b></p>
                            <ul id="mockupLabelsList" class="block__list block__list_words">
                                <li>
                                    <span class="choiceNum">1</span>
                                    <span>העדפה ראשונה</span>
                                </li>
                                <li>
                                    <span class="choiceNum">2</span>
                                    <span>העדפה שניה</span>
                                </li>
                                <li>
                                    <span class="choiceNum">3</span>
                                    <span>העדפה שלישית</span>
                                </li>
                                <li>
                                    <span class="choiceNum">4</span>
                                    <span>העדפה רביעית</span>
                                </li>
                                <li>
                                    <span class="choiceNum">5</span>
                                    <span>העדפה חמישית</span>
                                </li>
                            </ul>
                            <ul id="labelsList" class="block__list block__list_words">
                            </ul>
                        </div>

                        <div data-force="18">
                            <ul id="poolList" class="tagsStyle">
                                <li ng-repeat="item in criteria" data-id={{item.id}}><span>{{item.hebName}}</span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>


                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

        <div class="row" id="routingFilters">
            <div>
                <section class="innerSearchBox" ng-controller="autoCompleteSearch">
                    <label for="filterAutocomplete">מיקום </label>
                    <input type="text" id="filterAutocomplete" class="form-control clearable" ng-autocomplete="result2"
                           details="details2" options="options2" placeholder="" ng-model="theAddress.formatted_address"/>
                    <!--<label for="Autocomplete"><img src="/includes/images/Search.svg" id="searchIcon" alt="חיפוש"></label>-->
                </section>
            </div>
            <div>
                <label for="mode">זמן</label>
                <select id="mode" ng-model="transType" ng-change="changeTravelType()">
                    <option value="DRIVING">נסיעה</option>
                    <option value="WALKING">הליכה</option>
                    <option value="TRANSIT">תחבורה ציבורית</option>
                </select>
            </div>
            <div>
                <input type="range" id="timeRange" min="5" max="60" ng-model="timeVal"
                       ng-change="getByDuration()" step="5">
            </div>
            <div>
                <label for="timeSelect">עד</label>
                <select name="timeSelect" id="timeSelect" ng-change="getByDuration()" ng-model="timeVal" ng-selected="timeVal">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                    <option value="40">40</option>
                    <option value="45">45</option>
                    <option value="50">50</option>
                    <option value="55">55</option>
                    <option value="60">60</option>
                </select>
            </div>
        </div>
    </nav>

    <div id="google_map_filter"></div>



    <div id="page-wrapper">
        <div class="container-fluid">


            <div class="row">
                <section id="topFive"></section>
            </div>
        </div>
    </div>

    <div id="switchViews">
        <button ng-click="mapView()"><img src="includes/images/View_Map.svg" alt=""></button>
        <button ng-click="listView()"><img src="includes/images/view_Buildings.svg" alt=""></button>
    </div>

</div>


<!-- /#wrapper -->


