<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <!--<img src="/includes/images/Logo.png" alt="ליגת בתי הספר">-->
                לוגו
            </a>
        </div>
        <!-- Top Menu Items -->
        <section>
            <li class="leftSearchBox">
                <p>
                    <b>חיפוש</b>
                    <input type="search" name="schoolSearch" id="schoolSearchInPage">
                </p>
            </li>
        </section>
        <!--<ul class="nav navbar-right top-nav">-->
            <!--<li class="dropdown">-->
                <!--<a href="#"><b>-->
                    <!--על הרפורמה-->
                <!--</b></a>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
                <!--<a href="#"><b>-->
                    <!--על הפרוייקט-->
                <!--</b></a>-->
            <!--</li>-->
        <!--</ul>-->
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="schoolInfoSection">
                    <section id="schoolName">
                        <article ng-if="school.supervision == 'state'">בית ספר ממלכתי</article>
                        <article ng-if="school.supervision == 'religious'">בית ספר ממ״ד</article>
                        <article ng-if="school.supervision == 'orthodox'">בית ספר חרדי</article>

                        {{school.name}}
                        {{school.city}}
                    </section>
                    <ul id="schoolInfo">
                        <li>
                            <p class="inlineBlock">סוג חינוך: </p>
                            {{school.type}}
                        </li>
                        <li>
                            <p class="inlineBlock">מספר תלמידים:</p>
                            {{school.studentsCount}}
                        </li>
                        <li>
                            <p class="inlineBlock">תלמידים בכיתה:</p>
                            {{(school.studentsCount/school.classCount)-((school.studentsCount/school.classCount)%2)}}
                        </li>
                        <li>
                            <p class="inlineBlock">שנת הקמה:</p>
                            {{school.foudingYear}}
                        </li>
                        <li>
                            <p class="inlineBlock">טלפון: </p>
                            {{school.phoneNumber}}
                        </li>
                    </ul>
                    <button type="button" id="opinionsBTN"> חוות דעת </button>
                </li>
                <li class="schoolInfoSection">
                    <button type="button" id="comparisonBTN">הוסף בי"ס להשוואה</button>

                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <div id="graphsFiltersSection" class="row">
                <section class="borderCompletion"></section>
                <ul id="graphsFilters" class="nav navbar-nav">
                    <li class="categoryFilter active">
                        <img src="/includes/images/4.svg" alt="" class="categoryIcon">
                        <h5 class="categoryTitle">שביעות רצון</h5>
                    </li>
                    <li class="categoryFilter">
                        <img src="/includes/images/3.svg" alt="" class="categoryIcon">
                        <h5 class="categoryTitle">אווירה</h5>
                    </li>
                    <li class="categoryFilter">
                        <img src="/includes/images/1.svg" alt="" class="categoryIcon">
                        <h5 class="categoryTitle">רמת לימוד</h5>
                    </li>
                    <li class="categoryFilter">
                        <img src="/includes/images/2.svg" alt="" class="categoryIcon">
                        <h5 class="categoryTitle">איכות לימוד</h5>
                    </li>
                    <li class="categoryFilter">
                        <img src="/includes/images/5.svg" alt="" class="categoryIcon">
                        <h5 class="categoryTitle">ביטחון</h5>
                    </li>
                </ul>
                <section class="borderCompletion"></section>
            </div>
            <!-- /.row -->

            <div class="row">
                <ul>
                    <li>
                        <section class="innerCategories" ng-click="calimsGraph(0, school)">מורים</section>
                        <section class="innerCategories" ng-click="calimsGraph(1, school)">תלמידים</section>
                    </li>
                </ul>
            </div>

            <div class="row" id="graphContainer">
                <div id="chart"></div>
                <div id="c3chart"></div>
            </div>
            <!-- /.row -->


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
