* { margin:0; padding:0 }
a { text-decoration: none; color: #1d1d1d; }

header, nav, main, aside, footer, section, article {
	display:block;
}

body {
	background-color: #c3d4e3;
}

#wrapper {
	margin: auto;
	position: relative; z-index: 3;height: 100%; width: 100%;
}

.clear {
	clear: both;
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Alef', sans-serif;
	color: #1d1d1d;
}

#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }
#google_map {
	position: absolute;
	top: 80px;
	height: 90%;
	width: 100%;
}
header {
	position: absolute;
	top: 0;
	width: 100%;
	/*height: 10%;*/
	height: 80px;
	background-color: #c7c7c7;
	padding: 1.5em;
	box-sizing: border-box;
}

#logo {
	float: right;
}

nav {
	float: right;
	margin-right: 9em;
}

nav a{
	color: #1d1d1d;
	text-decoration: none;
	margin-left: 3em;
}

#searchBox {
	position: absolute;
	font-size: 0.8em;
	top:10em;
	right: 14.4em;
}

#schoolSearch {
	border: 1px solid #464646;
	border-radius: 5px;
	height: 3em;
	width:25em;
	direction: rtl;
}

#schoolSearch::-webkit-search-cancel-button{
	position:relative;
	right:23em;
	background-color: transparent;
	color: #464646;
}



/*school info*/

/*#searchBox {*/
	/*position: absolute;*/
	/*font-size: 0.8em;*/
	/*left: 3em;*/
	/*top: 0;*/
/*}*/

/*#searchBox h3 {*/
	/*display: inline-block;*/
	/*margin-left: 1em;*/
/*}*/

/*#schoolSearch {*/
	/*border: 1px solid #464646;*/
	/*border-radius: 5px;*/
	/*height: 3em;*/
	/*width:25em;*/
	/*direction: rtl;*/
/*}*/

/*#schoolSearch::-webkit-search-cancel-button{*/
	/*position:relative;*/
	/*right:23em;*/
	/*background-color: transparent;*/
	/*color: #464646;*/
/*}*/

#content {
	width: 100%;
	height: inherit;
	position: relative;
	/*top:10%;*/
	padding-right: 1em;
	box-sizing:border-box;
}

#generalInfo {
	width: 29%;
	height: inherit;
	float: right;
	/*			margin-left: 10em;
    */			border: 1px solid red;
}

#leftSideInfo {
	width: 69%;
	height: inherit;
	float: right;
	border: 1px solid green;
}

/*end school info*/



/* AUTOCOMPLETE */
.autocompletedemoCustomTemplate .autocomplete-custom-template li {
	border-bottom: 1px solid #ccc;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: normal; }

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
	border-bottom-width: 0; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
	display: block;
	line-height: 2;
vertical-align: middle;}

.schoolIcon {
	height: 19px;
	width: 19px;
	vertical-align: text-top;
}
