* { margin:0; padding:0 }
a { text-decoration: none; color: #ffffff; }

header, nav, main, aside, footer, section, article {
	display:block;
}

body {
	//background-color: #c3d4e3;
}

h1 {
	font-size: 35px;
	margin-bottom: 20px;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	color: white;
}

h4 {
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 16px;
}

.inlineBlock {
	display: inline-block;
}

#wrapper {
	margin: auto;
	position: relative; z-index: 3;height: 100%; width: 100%;
}

.clear {
	clear: both;
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Alef', sans-serif;
	color: #1d1d1d;
}

#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }
#google_map {
	position: absolute;
	top:10%;
	height: 90%;
	width: 100%;
}
header {
	position: relative;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: #c7c7c7;
	padding: 1em;
	box-sizing: border-box;
	display:block;
}

#logo {
	float: right;
}

nav {
	float: right;
	margin-right: 9em;
}

nav a{
	color: #1d1d1d;
	text-decoration: none;
	margin-left: 3em;
}

#searchBox {
	position: absolute;
	font-size: 0.8em;
	top:10em;
	right: 14.4em;
}

#schoolSearch {
	border: 1px solid #464646;
	border-radius: 5px;
	height: 3em;
	width:25em;
	direction: rtl;
}

#schoolSearch::-webkit-search-cancel-button{
	position:relative;
	right:23em;
	background-color: transparent;
	color: #464646;
}



/*school info*/

#searchBoxInPage {
	position: absolute;
	font-size: 0.8em;
	left: 3em;
	top: 1em;
}

#searchBoxInPage h3 {
	display: inline-block;
	margin-left: 1em;
}

#schoolSearchInPage {
	border: 1px solid #464646;
	border-radius: 5px;
	height: 3em;
	width:25em;
	direction: rtl;
}

#schoolSearch::-webkit-search-cancel-button{
	position:relative;
	right:23em;
	background-color: transparent;
	color: #464646;
}

#content {
	position: relative;
	margin: auto;
	margin-top: 70px;
	width: 90%;
	height: 900px;
	position: relative;
	/*top:10%;*/
	padding-right: 1em;
	border: 1px solid black;
	box-sizing:border-box;
	display:block;
}

#rightSideInfo {
	width: 29%;
	height: inherit;
	float: right;
	//border: 1px solid red;
}

#leftSideInfo {
	width: 60%;
	height: inherit;
	float: left;
	//border: 1px solid green;
}

#schoolImg {
	width: 100%;
	height: 350px;
	//border: 1px solid blue;
	display: block;
	margin-bottom: 20px;
	background: grey;
}

#feedbacks {
	width: 100%;
	height: 150px;
	//border: 1px solid blue;
	margin-bottom: 20px;
	display: block;
	background: #cccccc;
}

#rate {
	width: 100%;
	height: 150px;
	//border: 1px solid blue;
	display: block;
	background: #aaaaaa;
}

#madlanInfo {
	//width: 70%;
	//border: 1px solid black;
	margin-bottom: 30px;
	display: block;
}

#generalInfo {
	width: 70%;
	height: 30px;
	display: inline-block;
	//border: 1px solid black;
}

#moreInfo{
	display: inline-block;
	cursor: hand;
	cursor: pointer;
}


#generalInfoFullView {
	width: 70%;
	height: 300px;
	//border: 1px solid black;
	display: none;
}

#generalRightSide {
	width: 55%;
	float: right;
	height: inherit;
}

#generalLeftSide {
	width: 40%;
	float: left;
	height: inherit;
}

#meitsavInfo {
	//border: 1px solid black;
	display: block;
}

/*end school info*/



/* AUTOCOMPLETE */

.autocomplete{
	width: 100%;
	position: relative;
}

.autocomplete input{
	font-size: 1.2em;
	width: 100%;
	padding:0.4em;
}

.autocomplete ul{
	position: absolute;
	left: 0;
	width: 100%;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	z-index: 1;
}

.autocomplete li{
	text-align: left;
	list-style:none;
	width: 100%;
	padding:0.4em;
	background-color: #fff;
}

.autocomplete li.active{
	width: 100%
	background-color: #4bf;
}

.autocomplete .highlight {
	background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
	background: #666;
	color: #fff;
}